/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("C:\Users\Tarun\Documents\GitHub\Snow-Removal-App\frontend\public\images\wWKnpj.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Login Page */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.login-container {
    background: #5c4b7f;
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.login-form button:hover {
    background: #45a049;
}

.additional-links {
    margin-top: 20px;
    font-size: 0.9rem;
}

.additional-links a {
    color: #fff;
    text-decoration: underline;
    margin: 5px 0;
    display: block;
    transition: color 0.3s ease-in-out;
}

.additional-links a:hover {
    color: #e91e63;
}
